<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wahidhidayat.latihanapi">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.wahidhidayat.latihanapi.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.wahidhidayat.latihanapi.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Notification.SettingPref" />
        <activity android:name=".Activity.TvSearchActivity" />
        <activity android:name=".Activity.MovieSearchActivity" />
        <activity android:name=".Activity.FavoriteActivity" />
        <activity android:name=".Activity.TvDetailActivity" />
        <activity android:name=".Activity.MovieDetailActivity" />
        <activity android:name=".Activity.ReminderActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Provider.MovieProvider"
            android:authorities="com.wahidhidayat.latihanapi"
            android:exported="true"
            android:readPermission="com.wahidhidayat.latihanapi.READ_DATABASE"
            android:writePermission="com.wahidhidayat.latihanapi.WRITE_DATABASE" />

        <receiver android:name=".Widget.FavoritesMovieWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>

        <service
            android:name=".Widget.StackWidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".Notification.DailyReminderReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Notification.ReleaseReminderReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>